.Menu {
  margin: 0;
  padding: 0;
}

.Menu-caption {
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 3px;
  margin: 1em 0 .1em;
  padding: .5em 0 .5em 27px;
  background: #3E3E3E;
}

.Menu-item {
  list-style: none;
  margin: 0;
  font-size: .95rem;

  [class^='fa'] {
    width: 1em;
    margin-right: .7em;
  }
}

.Menu-item-link {
  color: rgba(255, 255, 255, 0.7);
  transition: color 300ms, transform 200ms;
  display: block;
  padding: .5em 15px .5em 30px;

  &:hover {
    color: #fff;
    background: #3E3E3E;
  }

  &:hover .Menu-item-count {
    background: #e74c3c;
  }

  &:active {
    transform: scale(0.98);
  }
}

.Menu-item-count {
  display: inline-block;
  vertical-align: baseline;
  padding: 3px 3px 3px 3px;
  margin: .2em 0 0 1em;
  line-height: 1;
  border-radius: 20%;
  background: #616060;
  font-size: 75%;
  float: right;
  transition: background 200ms;
}