.UserInfo {
	display: inline-flex;
	align-items: center;
	vertical-align: middle;
}

.UserInfo-image {
	width: 40px; height: 40px;
	border-radius: 40px;
	margin: 0 .5em 0 0;
	box-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.2);
}

.UserInfo-image,
.UserInfo-name {
	cursor: pointer;
}

.UserInfo-notifications {
	font-size: 1.1em;
	position: relative;
	margin-right: 15px;
}

.UserInfo-notifications-count {
	font-size: 0.6em;
	position: absolute;
	top: -5px;
	right: -1.5px;
	border-radius: 30%;
	padding: 3px 5px;
	line-height: 1;
	background: #ea6153;
	color: white;
	transition: transform 300ms;

	&:hover {
		transform: scale(1.08);
	}
}