.Box {
	background: white;
	border: 1px solid #F3F3F3;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	padding: 1em;
	position: relative;
}

.Box--blue {
	background: lighten(#0E9AA7, 10%);
}

.Box--red {
	background: lighten(#e74c3c, 5%);
}

.Box--green {
	background: lighten(#2ecc71, 5%);
}

.Box--orange {
	background: lighten(#e67e22, 10%);
}

.Box-settings {
	position: absolute;
	top: 10px;
	right: 15px;

	button {
		color: #ABABAB;
		font-size: 0.8em;

		&:hover { color: #666; }
	}
}

.SummaryBox {
	border: none;
	padding: .5em 1em;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.SummaryBox-title {
	margin: 0;
	color: white;
	font-size: 1rem;
	font-weight: normal;
}

.SummaryBox-value {
	color: white;
	font-size: 1.6rem;
}

.SummaryBox-icon {
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: rgba(255, 255, 255, 0.8);
	font-size: 1.3rem !important;
}

.ChartBox {
	padding: 0 .5em 1em;
}

.ChartBox-title {
	margin: .5em .5em !important;
	color: #666;
	font-size: 1.2rem;
	text-align: center;
  border-bottom: 1px dashed #EAEAEA;
  padding-bottom: 0.6em;
}