.ActionBar {
	position: fixed;
	width: 17%; // Not the best solution - width of the SideNav
	bottom: 0;
	left: 0;
	display: flex;
	background: #292929;
	padding: 0 15px;
	justify-content: wrap;
}

.ActionBar-button {
	flex: 1;
	padding: 10px 0;
	color: white;
	opacity: 0.8;
	font-size: 80%;
	display: inline-block;

	&:hover {
		opacity: 1;
	}
}