*,
*:after,
*:before {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	background: $body-bg;
}

article,
aside,
figcaption,
figure,
footer,
header,
main, 
menu,
nav,
section { 
  display: block;
}