@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700&subset=latin-ext,latin);

html {
	font-family: 'Lato', sans-serif;
  font-size: 1em;
	line-height: 1.5;
}

a {
	color: #0E9AA7;
	text-decoration: none;

	&:active {

	}

	&:hover {

	}
}

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css);