@import url(https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext,latin);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css);

html {
	font-family: 'Lato', sans-serif;
  font-size: 1em;
	line-height: 1.5;
}

hr {
	display: block;
	width: 100%;
	clear: both;
	margin: 2em 0;
	border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h1,
h2, 
h3, 
h4 {
	color: $heading-color;
}

a {
	color: $blue;
	text-decoration: none;

	&:active {
		color: darken($blue, 2%);
	}

	&:hover {
		color: lighten($blue, 6%);
	}
}

.Content ul > li {
	position: relative;
	list-style: none;

	&:before {
		content: "";
		display: block;
		position: absolute;
		left: -1em; top: .6em;
		width: 5px; height: 5px;
		border-radius: 1px;
		background: $blue;
	}
}

.Content img {
	max-width: 100%;
	height: auto;
	box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
	border: 1px solid rgba(0,0,0,0.1);
}

.Content h1:first-child,
.Content h2:first-child {
	margin-top: 0;
}